body {
  background-color: #fdfaf8;
}

h1 {
  display: inline;
}
.header-redirects {
  display: inline;
  position: absolute;
  right: 10px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer-center {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}

.redirect {
  margin: 10px;
}
.header-title {
  margin: 10px;
}

header {
  border-bottom: solid 10px #33febc;
  background-color: #25645b;
}
